.container{
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    margin: 5px;
    padding: 20px ;
}

.image {
    align-items: flex-start;
}

.rightitem{
    margin: 10px;
    align-items: flex-end;
}

.info{
    padding: 0;
    list-style: none;
}