@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
.header {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #E0DFD5;
    color: black;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.navigator ul li{
    list-style: none;
}

.navflexbox {
    width: 160px;
    margin:7px 0;
    display: inline-flex;
    justify-content: space-between;
}

.navlink {
    text-decoration: none;
}
.navlink,.navlink:visited {
    color:inherit;
}

.icon {
    justify-content: right;
    margin-top:3px;
    margin-right: 5px;
    margin-left: auto;
}